:root{
    --textcolor: lavender;
    --background: beige;
}

*{
    box-sizing: border-box;
    font-size: 16px;
    font-family: fantasy;
    background-color: var(--background);
}

header .scorebox{
    display: flex;
    flex-direction: row;
    padding: 1.5em;
    font-size: 1.5em;
}

header .timer{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 2em;
}

#choices {
    list-style-type: decimal;
  }